<!-- Navigation bar with links to Home, Reservations, and Propose Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Restaurant</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listeEquipe" routerLinkActive="active">listedesequipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listeMach" routerLinkActive="active">listedesmach</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/matchs" routerLinkActive="active">mach </a> <!--nafsss ism el path te3 app routing module--> 
        </li>
         
      </ul>
    </div>
  </div>
</nav>